.gallery {
    display: block;
    position: relative;
    padding: 1rem 0;

    &:after {
        content: '';
        clear: both;
        display: table;
    }

    @media (min-width: $tablet-min) {
        padding: 1.5rem 0.75rem;
        padding-left: calc(27.75% + 0.75rem);
    }

    @media (min-width: $desktop-min) {
        padding: 2rem 0;
        padding-left: calc(24.25% + 1rem);
        padding-right: calc(21.1% + 1rem);
    }

    &__image {
        display: block;
        float: left;
        width: calc(50% - 2rem);
        height: auto;
        margin: 1rem;

        &:nth-child(odd) {
            clear: left;
        }

        &--full {
            width: calc(100% - 2rem);
            margin-top: 0.9rem;
        }

        @media (min-width: $tablet-min) {
            width: calc(33.3333% - 1.5rem);
            margin: 1.5rem 0.75rem 1.55rem;

            &:nth-child(odd) {
                clear: none;
            }

            &:nth-child(3n+1) {
                clear: left;
            }

            &--full {
                width: calc(27.9% - 1.5rem);
                position: absolute;
                left: 0.8rem;
                top: 1.5rem;
                margin-top: 1.5rem;
            }

            &--first {
                transform: translateY(calc(100% + 2rem));
            }
        }

        @media (min-width: $desktop-min) {
            width: calc(25% - 2rem);
            margin: 1rem 1rem 1.15rem;

            &:nth-child(3n+1) {
                clear: none;
            }

            &:nth-child(4n+1) {
                clear: left;
            }

            &--full {
                width: calc(22.65% - 2rem);
                position: absolute;
                margin-top: 1rem;
                left: 2rem;
                top: 2rem;
            }

            &--second {
                width: calc(19.5% - 2rem);
                left: auto;
                right: 2rem;
            }

            &--first {
                transform: none;
            }
        }
    }
}
