doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Test
        link(href=`./assets/css/style.css?${pkgVersion}` rel="stylesheet")
    body
        block page
